div[class^="col-"]{
	.primaryContent & {
		
	    @include mobile {
	    	/*display: inline-block;*/
	   		width: 100%;
	    	border-radius: 0;
	    	padding: 0;
	    }
	    
		@include small {
			display: inline;	
		}
	}
}	