/*	bullet: https://static.bnpparibasfortis.be/Images/images/Icons/bullet_green.png*/

ul.usp-list {
	padding: 0;
	list-style-type:none;
	/*margin-bottom: 2em;*/
	li {
		background: url($bullet) no-repeat top left;
		padding-left: $icon-space;
		margin-bottom: 5px;
		font-size:$text-content-height;
	}
}