.visual-header {
	/*margin-bottom: 10px;*/
	color: white;
	/*display:inline-block;*/
	
	@include mobile{
		/*margin-bottom: 10px!important;*/
	}
	
	@include small {
		/*margin-bottom: 20px;*/
	}
	
	@include medium {
		/*margin-bottom: 34px;*/
	}
	
	img {
		border-radius: 0!important;
		@include mobile {
			display: none;
		}
	}
	
	.actions {
		.callme {
			margin-bottom: 15px;
		}
		.callyou {
			
		}
	}
	#header-cta {
		position: relative;
		background-color: $green;
		top: -5px;
		padding: 15px;
		height: auto;
		border-radius: 5px;
		
		@include small {
			position: absolute;
			bottom: 0;
			top: auto;
			right: 15px;
			padding: 15px;
			border-radius: 0;
			
		}
		
		@include medium {
			padding: 30px;
			right: 30px;
		}
		
		h1 {
			font-family: "BNPSansCondensed";
			font-size: 32px;
			line-height: 32px;
			
			position: static !important;
			padding: 0 0 5px 0;
			background-color: $green;
			text-transform: uppercase;
			box-shadow: none;
			background-color: initial;
			
			color: white;
			
			@include max-bp(380px) {
				text-align:center;
			}
			
			@include small {
				padding: 0 0 10px 0;
				font-size: 28px;
			}
			
			@include medium {
				font-size: 32px;
			}
			
		}
		
		p#header-txt {
			@include small {
				margin-bottom: 15px;
			}
			
			@include medium {
				margin-bottom: 20px;
			}
		}
	}
	
	a[href^="tel:"] {
		background-color: transparent;
		border: 1px solid white;
		color: white;
		&:hover {
			background-color: rgba(255,255,255,0.2);
		}
	}
}