@font-face {
  font-family: "BNPSansCondensed";
  src: 	url('https://www.hellobank.be/fonts/messagent/bnpp-sans-cond-v2.eot');
  src: 	url('https://www.hellobank.be/fonts/messagent/bnpp-sans-cond-v2.eot?#iefix') format('embedded-opentype'),
		url('https://www.hellobank.be/fonts/messagent/bnpp-sans-cond-v2.woff') format('woff'),
		url('https://www.hellobank.be/fonts/messagent/bnpp-sans-cond-v2.ttf') format('truetype'),
		url('https://www.hellobank.be/fonts/messagent/bnpp-sans-cond-v2.svg#BnppSans-r') format('svg');

  font-weight: 400;
  font-style: normal;
  font-stretch: normal;
  -webkit-font-smoothing: subpixel-antialiased;
}