.content {
	background-color:#fafafa;
	padding:1em;
	border:1px solid #e5e9ef;
	font-size: 12px;
	display: inline-block;
	@include small {
		padding:40px 15px 20px 15px;
		margin:0 15px;
	}
	@include medium {
		padding:40px 30px;
	}
}