$text-content-height: 12px;

$green: #00965e;
$green-dark: #007046;

$green-button: $green;
$green-button-hover: $green-dark;
$green-link: #085f40;

$grey: #ebebec;
$grey-button: $grey;
$grey-title-topic: #5f5f5f;

$icon-space: 20px;

$bullet: "https://static.bnpparibasfortis.be/Images/images/Icons/bullet_green.png";
$more-info: "https://static.bnpparibasfortis.be/Images/campaigns/2015/201509_car_insurance/icon-more-info.png";
$img-topic-1: "https://static.bnpparibasfortis.be/Images/campaigns/2015/201509_car_insurance/topic-1.png";
$img-topic-2: "https://static.bnpparibasfortis.be/Images/campaigns/2015/201509_car_insurance/topic-2.png";
$img-topic-3: "https://static.bnpparibasfortis.be/Images/campaigns/2015/201509_car_insurance/topic-3.png";